@charset 'utf-8';

/* *** css 변수 *** */
/* 전역 변수 */
:root {
  /* 선언(설정) */

  /* fonts */
  --font-ko: 'Pretendard', -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Apple SD Gothic Neo", Arial, sans-serif;
  --font-en: 'Open Sans', -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Apple SD Gothic Neo", Arial, sans-serif;


  /* colors */
  --color-white: #fff;
  --color-black: #282828;
  --color-red: #FF6565;

  /* font-size */
  --font-xxl: 44px;
  --font-xl: 24px;
  --font-lg: 20px;
  --font-md: 16px;
  --font-sm: 14px;
  --font-xs: 12px;
}

/* 부드러운 스크롤 */
html {
  scroll-behavior: smooth;
  overflow: hidden;

}

body {
  font-family: var(--font-en);
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;

}

.flex-wrap {
  display: flex;
}

.sub-title {
  font-size: var(--font-xs);
  font-weight: 700;
  margin-bottom: 2px;
}

.title {
  font-size: var(--font-xl);
  font-weight: 300;
}

.des {
  font-size: var(--font-sm);
  font-weight: 400;
}

.btn-container {
  margin-top: 25px;
}

.btn {
  font-size: var(--font-xs);
  font-weight: 700;
  border: 1px solid transparent;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
}

.line {
  display: block;
  background-color: #000;
  width: 1px;
  height: 30px;
  margin: 20px 0;
  margin-left: 50%;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 0.5s ease-in-out;
  height: 100vh;
  overflow: hidden;

  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
}

.content-wrap {
  text-align: center;
}

.date {
  color: var(--color-red);
}

.information {
  /* width: 280px; */
  /* height: 126px; */
  width: 100%;
  height: 15vh;
  background-color: #ddd;
  margin: 15px auto;
  position: relative;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  transition: 1s;
  cursor: pointer;
}

.information .des {
  transition: 1s;
}

.plus-btn {
  background-color: var(--color-white);
  display: block;
  width: 24px;
  height: .5px;
  position: absolute;
  right: 20px;
  bottom: 28px;
  transition: 1s;
}

.plus-btn::after {
  content: "";
  display: block;
  width: 24px;
  height: .5px;
  background-color: var(--color-white);
  transform: rotate(90deg);
}

@keyframes fadeup {
  0% {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}


@keyframes lines {
  0% {
    opacity: 0;
    height: 0;
  }

  100% {
    opacity: 1;
    height: 30px;
  }
}

@keyframes menu1 {
  0% {
    transform: translateY(8.5px) rotate(45deg);
  }

  50% {
    transform: translateY(8.5px) rotate(0);
  }

  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes menu2 {
  0% {
    transform: translateY(-9px) rotate(-45deg);
  }

  50% {
    transform: translateY(-9px) rotate(0);
  }

  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes close-menu1 {
  0% {
    transform: translateY(0) rotate(0);
  }

  50% {
    transform: translateY(7px) rotate(0);
  }

  100% {
    transform: translateY(7px) rotate(45deg);
  }
}

@keyframes close-menu2 {
  0% {
    transform: translateY(0) rotate(0);
  }

  50% {
    transform: translateY(-7px) rotate(0);
  }

  100% {
    transform: translateY(-7px) rotate(-45deg);
  }
}