@charset 'utf-8';

.site-menu {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0);
  color: #d6c3ab;
  text-transform: uppercase;
  font-size: 18px;
  padding-top: 25%;
  opacity: 0;
  pointer-events: none;
  /* transition: 1s; */
}

.site-menu .gnb {
  margin: 0 auto;
  text-align: center;
  max-width: 240px;
}

.site-menu .gnb li {
  margin: 0 1.33%;
  font-weight: 700;
}

.site-menu .gnb li a {
  padding: 25px 0;
  display: block;
}

.site-menu.reveal {
  opacity: 1;
  pointer-events: all;
  transition: 1s;
}

/* menu */

.header-wrap {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.header-wrap h1 a .logo {
  width: 87px;
  height: 61px;
  padding: 16px 0 0 10px;

}

.header-wrap h1 a .logo path {
  width: 100%;
  height: 100%;
  fill: var(--color-white);
  object-fit: contain;
}

.header-wrap.highlight h1 a .logo path {
  fill: var(--color-black);
}

.header-wrap nav {
  width: 24px;
  height: 12px;
  position: relative;
  margin-right: 20px;
}

.header-wrap nav .hamburger-menu {
  position: absolute;
  top: 0;
  cursor: pointer;
}


.header-wrap nav .hamburger-menu i {
  background-color: var(--color-white);
  width: 24px;
  height: 1px;
  margin-top: 6px;
  display: block;
}

.header-wrap.highlight nav .hamburger-menu i {
  background-color: var(--color-black);
}

.header-wrap nav .hamburger-menu i:nth-child(1) {
  animation: menu1 .75s forwards;
}

.header-wrap nav .hamburger-menu.active i:nth-child(1) {
  animation: close-menu1 .75s forwards;
  background: #fff;
}

.header-wrap nav .hamburger-menu.active i:nth-child(2) {
  opacity: 0;
}

.header-wrap nav .hamburger-menu i:nth-child(3) {
  animation: menu2 .75s forwards;
}

.header-wrap nav .hamburger-menu.active i:nth-child(3) {
  animation: close-menu2 .75s forwards;
  background: #fff;
}

/* header */

.brand-story {
  color: #fff;
  background-color: #282828;
  background-image: url(./assets/images/bg1.webp);
  position: relative;
}

.layer {
  background-blend-mode: color;
  transition: 1s;
}

.brand-story .content-wrap {
  padding-top: 300px;
}

.brand-story .content-wrap .sub-title {
  opacity: 0;
  animation: fadeup 1s cubic-bezier(.28, .06, .36, .86) forwards;
}

.brand-story .title {
  opacity: 0;
  animation: fadeup 1s cubic-bezier(.28, .06, .36, .86) .5s forwards;
}

.brand-story .line-wrap {
  height: 30px;
  margin-bottom: 20px;
}

.brand-story .line {
  background-color: var(--color-white);
  opacity: 0;
  animation: lines .7s linear 1s forwards;
}

.brand-story .des {
  opacity: 0;
  animation: fadeup 1s cubic-bezier(.28, .06, .36, .86) 1.5s forwards;
}

.brand-story .btn-container {
  margin-bottom: 323px;
  animation: fadeup 1.2s cubic-bezier(.28, .06, .36, .86) 1.7s forwards;
  opacity: 0;

}

.brand-story #button-1 {
  background-color: var(--color-white);
  color: #282828;
}

.brand-story .quick-wrap {
  justify-content: center;
  font-size: var(--font-xs);
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

.quick-wrap p:first-child {
  margin-right: 50px;
  color: #fff;
  font-weight: 300;
}

.quick-wrap p:last-child {
  color: #BAA386;
  font-weight: 300;
}

.quick-wrap p:first-child::after {
  content: "";
  width: 1px;
  height: 13px;
  display: block;
  background-color: #000;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 50%;
}

/* brand-story */
main>.flex-wrap {
  flex-direction: column;
}

.about {
  color: var(--color-white);
  background-image: url(./assets/images/bg2.webp);

}

.about .content-wrap {
  padding-top: 160px;

}

.about .title {
  width: 80%;
  font-weight: 700;
  margin: auto;
  margin-bottom: 55px;
}

.about p {
  font-size: var(--font-xs);
  width: 54%;
  margin: 0 auto;
  font-weight: 700;
}

.about .content-wrap p:first-of-type {
  margin-bottom: 55px;
}

.about .content-wrap p:last-of-type {
  padding-bottom: 206px;
}

/* about */
.schedule .content-wrap {
  /* padding-top: 37%; */
  padding-top: 182px;
  margin: auto;
  text-align: left;
  font-size: var(--font-sm);
  padding-bottom: 100px;
  /* width: 80%; */
}

.schedule h2,
.schedule h3,
.open,
.close {
  width: 80%;
  margin: auto;
}

.schedule h2 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

.schedule .close {
  margin-bottom: 20px;
}

.schedule .content-wrap>p {

  width: 80%;
  margin: auto;
  margin-bottom: 80px;
}

.schedule .open p:first-child,
.schedule .close p:first-child {
  width: 60%;
}

.schedule .btn-container {
  display: block;
  margin: 45px auto;
  text-align: right;
  /* margin-right: 10%; */
}

.owl-carousel {
  width: 400px;
}

.owl-carousel .item {
  width: 100%;
  position: relative;
}

.owl-carousel p {
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: var(--color-white);
  font-size: var(--font-sm);
  font-weight: 700;
}

.owl-carousel .item img {
  display: block;
  width: 100%;
  height: 25vh;
  object-fit: cover;
}

.owl-carousel .owl-dots {
  position: absolute;
  justify-content: flex-end;
}

/* schedule */

.menu-story .content-wrap {
  padding-top: 100px;
  width: 80%;
  margin: auto;
  padding-bottom: 93px;
}

.menu-story .title {
  width: 60%;
  margin: auto;
  margin-bottom: 25px;
}

.menu-story .flex-wrap {
  flex-direction: column;
}

.menu-story .experience {
  background-image: url(./assets/images/story1.webp);
  /* margin-top: 25px; */
}

.menu-story .one {
  background-image: url(./assets/images/story2.webp);
}

.menu-story .two {
  background-image: url(./assets/images/story3.webp);
  margin-bottom: 133px;
}

.menu-story .information p {
  color: var(--color-white);
  text-align: left;
  position: absolute;
  left: 10px;
  bottom: 15px;
}

/* menu-story */

.menu {
  color: var(--color-white);
  background-image: url(./assets/images/bg7.webp);
}

.menu .content-wrap {
  padding-top: 288px;
  padding-bottom: 43px;
}

.menu .btn-container {
  margin-bottom: 245px;
}

.menu .line {
  background-color: var(--color-white);
}

.menu .des {
  font-weight: 300;
}


/* menu */
.more {
  background-image: url(./assets/images/bg4.webp);
  background-size: contain;
  background-position: center;
}

.more .content-wrap {
  /* padding-top: 100px; */
  /* padding-bottom: 55px; */
}

.more .line {
  transform: rotate(90deg);
  margin: 10px 0;
  margin-left: 50%;
}

.more .btn {
  /* margin-bottom: 104px; */
}

.more .food {
  justify-content: center;
  flex-wrap: wrap;
  /* max-width: 800px; */
  margin: auto;
  margin-top: 80px;
}

.more .food .img {
  width: 50%;

}

.more .food .img img {
  width: 70%;
  height: 80%;
  object-fit: contain;
}

.more .food .img:nth-of-type(1) img {
  transform: translateX(50px);
  width: 60%;
}

.more .food .img:nth-of-type(2) img {
  width: 50%;
}

.more .food .img:nth-of-type(3) img {
  width: 60%;
  transform: translateY(10px);
}

.more .food .img:nth-of-type(4) img {
  transform: translateX(-30px);

}

/* more */
.reservation {
  color: var(--color-white);
  background-image: url(./assets/images/bg10.webp);
  position: relative;
}

.reservation .layer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  /* z-index: -1; */
}

.reservation .content-wrap {
  padding-top: 130px;
  padding-bottom: 46px;
  width: 100%;
  z-index: 99;
}

.reservation .line {
  background-color: var(--color-white);
  transform: rotate(90deg);
  margin: 10px 0 0 0;
  margin-left: 50%;
}

.reservation p {
  color: #fff;
  font-size: 12px;
  font-weight: 100;
  margin-bottom: 10px;
}

.reservation p span {
  display: block;
}


.reservation .title {
  margin-top: 20px;
}

.reservation .book {
  width: 80%;
  flex-direction: column;
  margin: auto;
}


.reservation .book .container input {
  width: 100%;
}

.reservation .book p {
  display: none;
}

.reservation .book input {
  margin-bottom: 13px;
  padding: 15px 20px;
}

.reservation .book>input {
  padding-bottom: 70px;
}

.reservation .btn {
  color: #282828;
  background-color: var(--color-white);
  border: 1px solid #282828;
  margin-bottom: 55px;
}

#background {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#background.visible {
  opacity: 1;
}

.full-page-scrolling-container {
  overflow-y: auto;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  width: 100%;
  height: 100vh;
}

.section {
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* .nav {
  position: fixed;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
}

.anchor {
  display: block;
  width: 10px;
  height: 10px;
  margin: 10px 0;
  border-radius: 50%;
  background: white;
  transition: transform 0.3s;
}

.anchor:hover,
.anchor.is-active {
  transform: scale(1.5);
} */