@charset 'utf-8';
@media (height <=800px) {
  .schedule .content-wrap {
    padding-top: 10%;
  }


}

@media (height <=700px) {
  .schedule .content-wrap {
    padding-top: 5%;
  }
}

@media (width >=600px) {

  .owl-carousel {
    width: 500px;
  }

  .site-menu {
    padding-top: 20%;
  }

  .header-wrap nav {
    margin-right: 25px;
  }

  .more .food {
    max-width: 500px;
  }

  .more {
    background-size: 80%;
  }
}

@media (width >=650px) {

  .owl-carousel {
    width: 550px;
  }

  .menu-story .experience {
    background-image: url(./assets/images/story4.webp);
  }

  .menu-story .one {
    background-image: url(./assets/images/story5.webp);
  }

  .menu-story .two {
    background-image: url(./assets/images/story6.webp);
    margin-bottom: 133px;
  }

  .information {
    height: 20vh;
  }

  .brand-story #button-1 {
    background-color: transparent;
    border: 1px solid var(--color-white);
    color: var(--color-white);
  }

  .schedule .btn {
    background-color: transparent;
    color: var(--color-black);
    border: 1px solid var(--color-black);
  }

  .menu .btn {
    background-color: transparent;
    border: 1px solid var(--color-white);
    color: var(--color-white);
  }

  .more .btn {
    background-color: transparent;
    color: var(--color-black);
    border: 1px solid var(--color-black);
  }

  .reservation .btn {
    background-color: transparent;
    color: var(--color-white);
    border: 1px solid var(--color-white);
  }

  .site-menu {
    padding-top: 18%;
  }

  .more .food {
    max-width: 600px;
  }

  .more {
    background-size: 75%;
  }
}

@media (width >=800px) {


  .owl-carousel {
    width: 700px;
  }

  .brand-story {
    background-image: url(./assets/images/bg6.webp);
  }

  .site-menu {
    padding-top: 15%;
  }

  .more {
    background-size: 60%;
  }
}

@media (width >=900px) {
  .owl-carousel {
    width: 800px;
  }
}

@media (width >=1050px) {

  .owl-carousel {
    width: 950px;
  }

  .menu-story .experience {
    background-image: url(./assets/images/story7.webp);
  }

  .menu-story .one {
    background-image: url(./assets/images/story8.webp);
  }

  .menu-story .two {
    background-image: url(./assets/images/story9.webp);
    margin-bottom: 133px;
  }

  .site-menu {
    padding-top: 13%;
  }

  .header-wrap nav {
    margin-right: 29px;
  }

  .more {
    background-size: 50%;
  }
}

@media (width >=1280px) {
  .site-menu {
    padding-top: 10%;
  }

  .owl-carousel {
    width: 700px;
  }

  .header-wrap h1 a .logo {
    width: 147px;
    height: 103px;
    padding: 33px 0 0 33px;
  }

  .header-wrap nav {
    margin-right: 50px;
  }

  .title {
    font-size: var(--font-xxl);
  }

  .sub-title {
    font-size: var(--font-sm);
  }

  .des {
    font-size: 18px;
  }

  .btn {
    font-size: var(--font-sm);
  }

  .header-wrap nav .hamburger-menu i {
    width: 30px;
    margin-top: 8px;
  }

  /* header & global */
  .schedule h2,
  .schedule h3,
  .open,
  .close {
    width: 100%;
  }

  .schedule .content-wrap>p {
    width: 100%;
  }

  .brand-story #button-1 {
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    position: relative;
  }

  #button-1:before {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: var(--color-white);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  #button-1:hover {
    color: var(--color-black);
  }

  #button-1:hover:before {
    left: 0;
  }

  main>.flex-wrap {
    flex-direction: row;
  }

  .about {
    width: 30%;
  }

  .about p {
    font-size: var(--font-sm);
  }

  .about .content-wrap {
    padding-top: 150px;
  }

  .about .content-wrap .title {
    font-weight: 500;
    line-height: 1;
  }

  .schedule {
    width: 70%;
  }

  .schedule .content-wrap .date {
    margin-bottom: 10px;
  }

  .schedule .close {
    margin-bottom: 50px;
  }

  .schedule #button-2 {
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    position: relative;
  }

  .schedule #button-2:before {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: var(--color-black);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .schedule #button-2:hover {
    color: var(--color-white);
  }

  .schedule #button-2:hover:before {
    left: 0;
  }

  /* schedule */
  .menu-story .flex-wrap {
    flex-direction: row;
    width: 90%;
    margin: auto;
  }

  .information {
    height: 50vh;
    margin: 10px;
    position: relative;
  }

  .menu-story .information .layer-black {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
  }

  .menu-story .information:hover .layer-black {
    opacity: 0;
  }

  .plus-btn {
    display: none;
  }

  .menu-story .information p {
    left: 30px;
    bottom: 30px;
  }

  .information:hover .des {
    transform: translateY(-20px);
  }

  .menu-story .experience {
    background-image: url(./assets/images/story10.webp);
    /* opacity: 0.8; */
  }

  .menu-story .experience:hover {
    opacity: 1;
  }

  .menu-story .information:hover .plus-btn {
    display: block;
  }

  .menu-story .one {
    background-image: url(./assets/images/story11.webp);
    /* opacity: 0.8; */
  }

  .menu-story .one:hover {
    opacity: 1;
  }

  .menu-story .two {
    background-image: url(./assets/images/story12.webp);
    /* opacity: 0.8; */
    margin-bottom: 133px;
  }

  .menu-story .two:hover {
    opacity: 1;
  }

  .menu-story .title {
    margin-bottom: 60px;
  }

  .plus-btn {
    bottom: 72px;
  }

  /* menustory */
  .menu {
    color: var(--color-black);
    display: flex;
    background-image: none;
  }

  .menu .line {
    background-color: #000;
    transform: rotate(-90deg);
    margin-left: 15px;
  }

  .menu .content-wrap,
  .menu .bg-wrap {
    width: 50%;
  }

  .menu .bg-wrap {
    background-image: url(./assets/images/bg8.webp);
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }

  .menu .content-wrap {
    /* position: absolute; */
    padding-left: 12.5%;
    text-align: left;
  }

  .menu .des {
    width: 50%;
  }

  .menu #button-3 {
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    position: relative;
  }

  .menu #button-3:before {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: var(--color-black);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .menu #button-3:hover {
    color: var(--color-white);
  }

  .menu #button-3:hover:before {
    left: 0;
  }

  .menu .btn {
    background-color: transparent;
    border: 1px solid var(--color-black);
    color: var(--color-black);
  }

  /* menu */
  .more {
    background-position: 30% 20%;
    background-size: 30%;
  }

  .more .content-wrap {
    display: flex;
  }

  .more .text-wrap {
    width: 40%;
  }

  .more .food {
    width: 50%;
    padding-left: 10%;
  }

  .more #button-4 {
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    position: relative;
  }

  .more #button-4:before {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: var(--color-black);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .more #button-4:hover {
    color: var(--color-white);
  }

  .more #button-4:hover:before {
    left: 0;
  }

  .more .food {
    margin-top: 0;
  }

  .more .food .img img {
    width: 90%;
    height: 100%;
    object-fit: contain;
  }

  .more .food .img:nth-of-type(1) img {
    transform: translate(-50px, -100px);
    width: 80%;
  }

  .more .food .img:nth-of-type(2) img {
    width: 80%;
    transform: translate(-70px, -10px);
  }

  .more .food .img:nth-of-type(3) img {
    width: 60%;
    transform: translate(-40px, -20px);
  }

  .more .food .img:nth-of-type(4) img {
    transform: translate(-40px, 50px);

  }

  /* more */
  .reservation {
    background-image: url(./assets/images/bg9.webp);
  }

  .reservation .content-wrap {
    padding-top: 0;
    max-width: 900px;
    margin: auto;
  }

  .reservation .sub-title {
    width: 80%;
    margin: auto;
    text-align: left;
  }

  .reservation .title {
    width: 80%;
    margin: auto;
    text-align: left;
  }

  .reservation .line {
    margin-left: 12%;
  }

  .reservation p {
    width: 80%;
    margin: auto;
    text-align: left;
    margin-bottom: 30px;
    font-size: 14px;
  }

  .reservation p span {
    display: contents;
  }

  .reservation .book {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .reservation .book p {
    margin-bottom: 10px;
    margin-left: 0;
    text-wrap: nowrap;
  }

  .reservation .book>input {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 100px;
  }


  .reservation .book .container {
    width: calc(33.33% - 11.33px)
      /* margin: 10px; */
  }

  .reservation .book .container .reserve {
    padding: 5px;
    padding-bottom: 20px;
  }

  .reservation .book .container:nth-of-type(2) {
    margin-left: 17px;
    margin-right: 17px;
  }

  .reservation .book p {
    display: block;
  }

  .reservation .book input:last-child {
    width: 100%;
  }

  .reservation .book>p {
    margin-top: 20px;
  }

  .reservation .btn-wrap {
    width: 80%;
    margin: auto;
    text-align: right;
  }

  .reservation #button-5 {
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    position: relative;
    z-index: 1;
  }

  .reservation .btn#button-5:before {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: var(--color-white);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .reservation #button-5:hover {
    color: var(--color-black);
  }

  .reservation #button-5:hover:before {
    left: 0;
  }

  @keyframes close-menu2 {
    0% {
      transform: translateY(0) rotate(0);
    }

    50% {
      transform: translateY(-7px) rotate(0);
    }

    100% {
      transform: translateY(-10.5px) rotate(-45deg);
    }
  }
}

@media (width >=1380px) {
  .more .content-wrap {
    width: 85%;
  }

  .owl-carousel {
    width: 800px;
  }
}

@media (width >=1500px) {
  .more .content-wrap {
    width: 90%;
  }

  .more .food .img:nth-of-type(1) img {
    width: 90%;
    transform: translate(-100px, -100px);
  }

  .more .food .img:nth-of-type(2) img {
    width: 90%;
  }

  .more .food .img:nth-of-type(3) img {
    width: 80%;
    transform: translate(-60px, -40px);
  }

  .more .food .img:nth-of-type(4) img {
    width: 100%;
  }

  .more .food {
    padding-left: 0;
    padding-right: 5%;
  }

  .more .text-wrap {
    width: 50%;
    padding-left: 5%;
    transform: translate(30px, -20px);
  }

  .owl-carousel {
    width: 900px;
  }
}

@media (width >=1556px) {
  .about .content-wrap {
    padding-top: 100px;
  }


}

@media (width >=1650px) {
  .owl-carousel {
    width: 1000px;
  }
}

@media (width >=1750px) {
  .owl-carousel {
    width: 1100px;
  }
}

@media (width >=1850px) {
  .owl-carousel {
    width: 1200px;
  }
}